/.vs/
/packages/
/TestResults/
*.user
*.secret
GPSLogger/Properties/launchSettings.json
/Microsoft.Extensions.Configuration.CommandLine.pdb/
/Microsoft.Extensions.Configuration.pdb/
/pingme.txt
/.idea/
