@using GPSLogger.Models
@model DefaultModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hello world</title>
    <script src="~/js/js.js"></script>
</head>
<body>
<div>
      
</div>
</body>
</html>